<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- Document Settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	<!-- Page Title -->
	<title>DxJ Workspace</title>
	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i"
		rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/assets/css/slick-theme.css">
	<link rel="stylesheet" href="static/assets/css/slick.css">
	<link rel="stylesheet" href="static/assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="static/style.css">
	<!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="static/assets/js/html5shiv.js"></script>
	<script src="static/assets/js/respond.js"></script>
	<![endif]-->

	<style>
		@import url(http://fonts.googleapis.com/earlyaccess/cabinvfbeta.css);
		.logo{
			font-family: 'Cabin VF Beta', sans-serif;
		}
	</style>
</head>
<body>
<header class="kotha-menu marketing-menu">
	<nav class="navbar  navbar-default">
		<div class="container">
			<div class="menu-content">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					        data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="top-social-icons list-inline pull-right">
						<!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
						<li class="top-search">
							<!--<a href="#" class="sactive">
								<i class="fa fa-search"></i>
							</a>-->
						</li>
					</ul>
					<ul class="nav navbar-nav text-uppercase pull-left">
						<li><a href="/" class="active">Portfolio</a></li>
						<!--<li><a href="/contact">Contact</a></li>-->
					</ul>
				</div>
				<div class="show-search">
					<form role="search" method="get" id="searchform" action="#">
						<input type="text" placeholder="Search and hit enter..." name="s" id="s">
					</form>
				</div>

			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!--<div class="kotha-logo text-center">
		<h1><a href="/" class="logo">
			<img src="static/assets/images/portfolio/logo.png" style="width:350px" alt="DxJ"/></a></h1>
	</div>-->

</header>
<div class="kotha-default-content material-blog">
	<div class="container-fluid">
		<div class="row">

				<iframe src="http://jshsakura.iptime.org:3000" style="margin-top:-50px;margin-bottom:-35px;width:100%;height:1000px;"></iframe>


		</div>
	</div>
</div>


<div class="container-fluid insta-feed text-center">
	<h2 class="text-uppercase">dxj workspace @ <a href="">Project</a></h2>
	<div id="footer-instagram" class="footer-insta">
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="static/assets/images/ft-insta-1.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="static/assets/images/ft-insta-2.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="static/assets/images/ft-insta-3.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>

		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="static/assets/images/ft-insta-4.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="static/assets/images/ft-insta-5.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="static/assets/images/ft-insta-6.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="static/assets/images/ft-insta-7.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
		<div class="item">
			<div class="single-instagram">
				<a href="">
					<img src="static/assets/images/ft-insta-8.jpg" alt="">
				</a>
				<div class="insta-overlay">
					<div class="insta-meta">
						<ul class="list-inline text-center">
							<li><a href=""><i class="fa fa-heart-o"></i></a> 325</li>
							<li><a href=""><i class="fa fa-comment-o"></i></a> 20</li>
						</ul>
					</div>
				</div>
				<a href="" class="insta-link"></a>
			</div>
		</div>
	</div>
</div>
<footer>

	<div class="container-fluid text-center ft-copyright">
		<p>&copy;  2018   <a href="">DxJ Workspace </a> - Designed with by <a href="http://shapedtheme.com">ShapedTheme</a></p>
	</div>
</footer>


<div class="scroll-up">
	<a href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!--//Script//-->
<script src="static/assets/js/jquery-1.12.4.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/slick.min.js"></script>
<script src="static/assets/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript">
    //pretty Photo
    $("a[data-rel^='prettyPhoto']").prettyPhoto({
        animation_speed: 'normal',
        slideshow: 5000,
        autoplay_slideshow: true
    });
</script>
<script src="static/assets/js/main.js"></script>

</body>
</html>