{% extends 'blog/base.html' %}

{% block headblock%}

{% endblock headblock %}

{% block mainblock%}

			<div class="col-sm-8">
				<article class="post-area single-blog">
					<div class="about-me">
						<div class="about-img text-center">
							<img src="/static/assets/images/about-2.jpg" alt="" class="img-circle">
						</div>
						<div class="about-me-text">
							<h3>메세지 전송이 완료되었습니다.</h3>
							<p>Dxj Workspace를 찾아주셔서 감사합니다.</p>
							<p>글 작성후 Slack Bot 을 통한 피드백을 받고있으니 , 곧 답변 드리겠습니다.</p>
						</div>
					</div>
					<div class="single-about">
						<div class="about-us-img pull-left">
							<img style="width:150px" src="/static/assets/images/portfolio/django-icon.png" alt="" class="img-circle">
						</div>
						<div class="about-us-text">
							<h3 class="text-uppercase">Dxj Workspace</h3>
							<h5>Web Programmer, Developer Team</h5>
							<p>파이썬을 공부중인 개발팀입니다.잘못된 정보가 게시 되거나 , 부적절한 게시물이 있는경우 언제든지
							피드백 바랍니다.</p>

							<!--<div class="social-share">
								<ul class="list-inline">
									<li class="text-center">
										<a class="s-facebook" href=""><i class="fa fa-facebook"></i></a>
									</li>
									<li class="text-center">
										<a class="s-twitter" href=""><i class="fa fa-twitter"></i></a>
									</li>
									<li class="text-center">
										<a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a>
									</li>
									<li class="text-center">
										<a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a>
									</li>
									<li class="text-center">
										<a class="s-instagram" href=""><i class="fa fa-instagram"></i></a>
									</li>
								</ul>
							</div>-->
						</div>
					</div>
					<div class="our-skills">
						<h3 class="bar-heading text-left">My Skills</h3>
						<div class="bar">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
								     aria-valuemax="100" style="width:60%">
									Java 60%
								</div>
							</div>
						</div>
						<div class="bar">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
								     aria-valuemax="100" style="width:90%">
									HTML5 90%
								</div>
							</div>
						</div>
						<div class="bar">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
								     aria-valuemax="100" style="width:70%">
									CSS3 70%
								</div>
							</div>
						</div>
						<div class="bar">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
								     aria-valuemax="100" style="width:80%">
									BOOTSTRAP 80%
								</div>
							</div>
						</div>
						<div class="bar">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
								     aria-valuemax="100" style="width:20%">
									Python 20%
								</div>
							</div>
						</div>

					</div>
					<a href="/blog" class="btn btn-md btn-default pull-right"> BLOG LIST <i class="fa fa-arrow-right"></i></a>
				</article>


			</div>

{% endblock mainblock %}


{% block jsblock%}


{% endblock jsblock %}