{% extends 'blog/base.html' %}

{% block headblock%}

{% endblock headblock %}

{% block mainblock%}

			<div class="col-sm-8">

				{% for post in posts %}
                <article class="single-blog">
					<div class="post-thumb">
						<a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ post.post_img }}" alt=""></a>
					</div>
					<div class="post-content">
						<div class="entry-header text-left text-uppercase">
							<a href="" class="post-cat">{{ post.tag }}</a>
							<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
						</div>
						<div class="entry-content">
							<p>{{ post.text|linebreaksbr }}</p>
						</div>

						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="author">By <a href="#">{{ post.author }} </a></li>
								<li class="date"> {{ post.published_date }} </li>
							</ul>
							<ul class="pull-right list-inline social-share">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-pinterest"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</article>
                {% endfor %}

				<div class="post-pagination clearfix">
					<ul class="pagination text-left">
						<li><a href="#">1</a></li>
						<li class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
					</ul>
				</div>
			</div>

{% endblock mainblock %}

